body {
	background-image: url(http://www.planwallpaper.com/static/images/518169-backgrounds.jpg);
	bgproprit: fixed;
}

p {
	text-align: center;
	font-family: Courier New;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: cursive;
	margin-top:20px;
}

div {
	border-radius: 5px;
	border: 2px dashed #6A1B9A;
	background-color: #E040FB;
	height: 50px;
	width: 150px;
	margin: auto;
	padding-top:10px;
	text-align: center;
}

p:first-child { 
    margin-top:300px;
}
